body {margin:25px;}

div.polaroid {
  /* width: 80%; */
  background-color: white;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  text-align: center;
  padding-bottom: 10px;
}
.polaroids{
    color: black;
    background-size: cover;
    background-attachment: fixed;
}
.pad{
  padding-left: 20px;
  padding-right: 20px;
}
.lio{
  font-style:italic;
}
.lil{
    font-size: 20px;
    padding-right: 100px;
}

.hh{
    display: flex;
    float: right;

}
.img11{
    width:50%;
    height: 10%;

}
.img12{
    width:50%;
    height: 10%;

}
.img13{
    width:50%;
    height: 10%;

}
.img14{
    width:50%;
    height: 10%;

}
.hhh{
    float: left;
}